@model QUANLYTHUVIEN.Models.Contact

<section class="section">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="info-item">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Chộ Đó</h3>
                    <p>14 Nguyễn Văn Bảo, Gò Vấp, TP.HCM</p>
                </div>

                <div class="info-item">
                    <i class="bi bi-telephone"></i>
                    <h3>Điện thoại</h3>
                    <p>+84 123 456 789</p>
                </div>

                <div class="info-item">
                    <i class="bi bi-envelope"></i>
                    <h3>Email</h3>
                    <p>info@example.com</p>
                </div>
            </div>

            <div class="col-lg-6">
                <form asp-action="SendContact" method="post" class="php-email-form">

                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input placeholder="Họ tên" asp-for="FullName" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <input placeholder="Email" asp-for="Email" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <input placeholder="Số điện thoại" asp-for="Phone" class="form-control" />
                        </div>

                        <div class="col-md-12">
                            <textarea placeholder="Nội dung" asp-for="Content" rows="6" class="form-control"></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary">Gửi liên hệ</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>