    <!-- Start: Slider Section -->
<div data-ride="carousel" class="carousel slide" id="home-v1-header-carousel">
    <!-- Carousel slides -->
    <div class="carousel-inner">
        <div class="item active">
            <figure>
                <img alt="Home Slide" src="~/images/header-slider/home-v1/header-slide.jpg" />
            </figure>
            <div class="container">
                <div class="carousel-caption">
                    <h2>Chạm vào sách – chạm vào thế giới</h2>
                    <p>Một không gian được tạo ra để gìn giữ tri thức và khơi dậy niềm đam mê đọc sách. Chúng tôi mang đến nguồn tài liệu phong phú, đáng tin cậy và luôn sẵn sàng hỗ trợ bạn trong hành trình khám phá của mình.</p>
                    <div class="slide-buttons hidden-sm hidden-xs">
                        <a href="#" class="btn btn-primary">Đọc Thêm</a>
                        <a href="#" class="btn btn-default">Mượn sách</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <figure>
                <img alt="Home Slide" src="~/images/header-slider/home-v2/header-slide.jpg" />
            </figure>
            <div class="container">
                <div class="carousel-caption">
                    <h2>Chạm vào sách – chạm vào thế giới</h2>
                    <p>Một không gian được tạo ra để gìn giữ tri thức và khơi dậy niềm đam mê đọc sách. Chúng tôi mang đến nguồn tài liệu phong phú, đáng tin cậy và luôn sẵn sàng hỗ trợ bạn trong hành trình khám phá của mình.</p>
                    <div class="slide-buttons hidden-sm hidden-xs">
                        <a href="#" class="btn btn-primary">Đọc Thêm</a>
                        <a href="#" class="btn btn-default">Mượn sách</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <figure>
                <img alt="Home Slide" src="~/images/header-slider/home-v3/header-slide.jpg" />
            </figure>
            <div class="container">
                <div class="carousel-caption">
                    <h2>Chạm vào sách – chạm vào thế giới</h2>
                    <p>Một không gian được tạo ra để gìn giữ tri thức và khơi dậy niềm đam mê đọc sách. Chúng tôi mang đến nguồn tài liệu phong phú, đáng tin cậy và luôn sẵn sàng hỗ trợ bạn trong hành trình khám phá của mình.</p>
                    <div class="slide-buttons hidden-sm hidden-xs">
                        <a href="#" class="btn btn-primary">Đọc Thêm</a>
                        <a href="#" class="btn btn-default">Mượn sách</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#home-v1-header-carousel" data-slide="prev"></a>
    <a class="right carousel-control" href="#home-v1-header-carousel" data-slide="next"></a>
</div>
<!-- End: Slider Section -->
<!-- Start: Search Section -->
<section class="search-filters">
    <div class="container">
        <div class="filter-box">
            <h3>Bạn đang tìm gì ở thư viện?</h3>
            <form action="http://libraria.demo.presstigers.com/index.html" method="get">
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label class="sr-only" for="keywords">Search by Keyword</label>
                        <input class="form-control" placeholder="Tìm kiếm theo từ khóa" id="keywords" name="keywords" type="text">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <select name="catalog" id="catalog" class="form-control">
                            <option>Tìm kiếm theo tác giả</option>
                            <option>Catalog 01</option>
                            <option>Catalog 02</option>
                            <option>Catalog 03</option>
                            <option>Catalog 04</option>
                            <option>Catalog 05</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <select name="category" id="category" class="form-control">
                            <option>Tất cả thể loại</option>
                            <option>Category 01</option>
                            <option>Category 02</option>
                            <option>Category 03</option>
                            <option>Category 04</option>
                            <option>Category 05</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="form-group">
                        <input class="form-control" type="submit" value="Tìm Kiếm">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End: Search Section -->
<!-- Start: Welcome Section -->
<section class="welcome-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="welcome-wrap">
                    <div class="welcome-text">
                        <h2 class="section-title">Xin chào</h2>
                        <span class="underline left"></span>
                        <p class="lead">Hệ thống được xây dựng cuối năm 2025 với tinh thần không bỏ cuộc và sứ mệnh mang tri thức đến cho mọi người.</p>
                        <p>
                            Rất vui được đồng hành cùng bạn trong hành trình khám phá tri thức. Tại đây, bạn sẽ tìm thấy hàng ngàn đầu sách đa dạng, từ văn học, khoa học, kỹ năng sống cho đến tài liệu nghiên cứu chuyên sâu. Chúng tôi luôn nỗ lực mang đến một không gian học tập hiện đại, thân thiện và dễ tiếp cận, giúp bạn tìm kiếm thông tin nhanh chóng và trải nghiệm đọc tốt nhất.

                            Hãy bắt đầu chuyến hành trình tri thức của bạn ngay hôm nay — mỗi cuốn sách luôn chờ đón bạn mở ra một thế giới mới.
                        </p>
                        <a class="btn btn-primary" href="#">Đọc thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="facts-counter">
                    <ul>
                        <li class="bg-light-green">
                            <div class="fact-item">
                                <div class="fact-icon">
                                    <i class="ebook"></i>
                                </div>
                                <span>Sách<strong class="fact-counter">45780</strong></span>
                            </div>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="welcome-image"></div>
</section>
<!-- End: Welcome Section -->
<!-- Start: Category Filter -->
<section class="category-filter section-padding">
    <div class="container">
        <div class="center-content">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="section-title">danh mục</h2>
                    <span class="underline center"></span>
                    <p class="lead">Nhiều đầu sách để các độc giả thỏa thích lựa chọn.</p>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("CategoryFilter")
    </div>
    @await Component.InvokeAsync("Book")
</section>
<!-- Start: Latest Blog -->
<section class="latest-blog section-padding banner">
    <div class="container">
        <div class="center-content">
            <h2 class="section-title">Bài đăng nổi bật</h2>
            <span class="underline center"></span>
            <p class="lead">Chia sẻ để thấu hiểu lẫn nhau.</p>
        </div>
        <div class="tabs-container">
            @await Component.InvokeAsync("LatestBlog")
        </div>
    </div>
</section>
<!-- End: Latest Blog -->
<!-- Start: Our Community Section -->
<section class="community-testimonial">
    <div class="container">
        <div class="text-center">
            <h2 class="section-title">Tác giả nổi bật</h2>
            <span class="underline center"></span>
            <p class="lead">Mỗi cuộc đời là mỗi câu chuyện khác nhau.</p>
        </div>
        @await Component.InvokeAsync("AuthorTestimonial")
    </div>
</section>
<!-- End: Our Community Section -->
