@model IEnumerable<QUANLYTHUVIEN.Models.TbMenu>

@functions {
    string BuildMenuTree(IEnumerable<TbMenu> allMenus, int? parentId = null)
    {
        var menus = allMenus.Where(m => m.ParentId == parentId).OrderBy(m => m.Position);

        if (!menus.Any())
            return "";

        var html = "";
        foreach (var menu in menus)
        {
            var hasChildren = menu.InverseParent != null && menu.InverseParent.Any(c => c.IsActive);
            var url = string.IsNullOrEmpty(menu.Url) ? "#" : menu.Url;

            if (hasChildren)
            {
                html += $@"<li class='drop-holder'>
                    <a href='{url}'>{menu.Title} <i class='fa fa-angle-down'></i></a>
                    <ul class='drop-down'>";

                foreach (var child in menu.InverseParent.Where(c => c.IsActive).OrderBy(c => c.Position))
                {
                    var childUrl = string.IsNullOrEmpty(child.Url) ? "#" : child.Url;
                    html += $@"<li><a href='{childUrl}'>{child.Title}</a></li>";
                }
                html += "</ul></li>";
            }
            else
            {
                html += $@"<li>
                    <a href='{url}'>{menu.Title}</a>
                </li>";
            }
        }
        return html;
    }
}

@Html.Raw(BuildMenuTree(Model))